
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#best_score{
    display: none;
}

body{
    background-color: #353535;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.box{
    position: relative;
    border: 2px solid red ;
    border-radius: 15px;
    width: 500px;
    height: 500px;
    top: 1%;
}




.score_box p{
    color: white;
    opacity: 0.5;
    text-align: center;
}


.score_value_center{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.objectif{
    z-index: 500;
    position: absolute;
    background-color: green;
    border-radius: 15px;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.snake{
    z-index: 1000;
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50px;
}


@media screen and (max-device-width: 1280px) {
	.box{
        margin-top: 0vh;
    }
}